
<app-navbar></app-navbar>

  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>About Us</h2>
          <p class="about-paragraph">Transport Hahn. is a family-owned business with over 20 years of experience in the transportation industry. Our mission is to provide exceptional service to our customers while ensuring the safety of our drivers and the public.</p>
          <p class="about-paragraph">The long-term loyalty and satisfaction of our customers are for us the decisive reference for sustainable quality. The strong competence of Hahn Transporter is reflected in our wide range of industries that already trust our services.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="images">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/truck1.jpg" alt="Truck 1" class="img-fluid custom-img">
        </div>
        <div class="col-md-4">
          <img src="assets/truck2.jpg" alt="Truck 2" class="img-fluid custom-img">
        </div>
        <div class="col-md-4">
          <img src="assets/truck3.png" alt="Truck 3" class="img-fluid custom-img">
        </div>
      </div>
    </div>
  </section>
  
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2024 Transport Hahn. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>